body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f1dfdd;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #b83556;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
.custom-button {
            background-color: #f05f7f; 
            color: white; 
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
			transition: all 0.2 ease;
			position: fixed;
            bottom: 30px; 
            right: 20px;  
        }